ul {
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: space-between;
}
ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px 10px;
  white-space: nowrap;
}
a {
  text-decoration: none;
}

/* .even {
  background-color: azure;
}

.odd {
  background-color: antiquewhite;
} */

::-webkit-scrollbar {
  display: none;
}
.indicator {
  height: 2px;
  width: 2rem;
  margin-top: 2px;
}
